<div>
    <div class="py-4 relative bg-white dark:bg-slate-800 -mt-4" style="z-index: 19; margin-bottom: -22px;"></div>
  <apx-chart
    [chart]="chartOptions.chart"
    [series]="chartOptions.series"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [fill]="chartOptions.fill"
    [states]="chartOptions.states"
    [colors]="chartOptions.colors"
    [plotOptions]="chartOptions.plotOptions"
    [dataLabels]="chartOptions.dataLabels"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
</div>
